<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo reactjs</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div id="container"></div>
    <script type="text/babel" src="main.js">

    </script>
  </body>
</html>
